# LLM Configuration
# Choose one: "openai" or "anthropic"
LLM_PROVIDER=openai

# OpenAI Configuration
# Get key from: https://platform.openai.com/api-keys
LLM_API_KEY=sk-your-openai-key-here
LLM_API_BASE=
LLM_MODEL=gpt-4-turbo



# Agent Configuration
AGENT_VERBOSE=true